[submodule "MidEngine/vendor/spdlog"]
	path = MidEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MidEngine/vendor/GLFW"]
	path = MidEngine/vendor/GLFW
	url = https://github.com/terrellhu/glfw.git
[submodule "MidEngine/vendor/imgui"]
	path = MidEngine/vendor/imgui
	url = https://github.com/terrellhu/imgui.git
[submodule "MidEngine/vendor/glm"]
	path = MidEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
